/* Colors
background blue  283c73
blue            004990
light grey      999b9e
Mid Grey       4a4949 
Dark Grey       302f2f
Yellowish       edc93e  
*/


body {	
	margin:0;
	padding:0;
	font-size:small;
	font-family:Trebuchet, Arial, sans-serif;
	color:#004990;
	background:#4a4949;
	width:100% ;
	text-align:center;
	font-size:62.5%; /* 16px × 62.5% = 10px */
	font-size:1em;
	line-height:1.7em;
}


/* ===================  Main Sections ==================== */



ul#global {
    display:none;
}

#global li { list-style:none; display:inline; padding:0;}

#global li input.search-field { height:25px; position:relative; top:-21px; left:0; font-size:12px; color:#767676; border:0; padding:3; margin:0 4px; width:110px; -moz-border-radius: 4px; border-radius:4px;}


#LogoPrint { width:200px; height:86px;}

#logo { 
   display:none;
}

ul#nav {
    display:none;
}



#container { 
    margin:0 auto;
    width:966px;
    text-align:left;
    /* Fallback for web browsers that doesn't support RGBa */
     background: rgb(255, 255, 255);
    /* RGBa with 0.75 opacity */
    background: rgba(255, 255, 255, 0.75);
 
}

#content {
    width:596px;
    padding:30px 20px 20px 30px;
    margin:0;
    float:left;
} 

#contentFullPage {
    width:916px;
    padding:30px 20px 20px 30px;
    margin:0;
}   


.Scroll img {padding:10px;}

#sideBar {              
    width:300px;
    padding:30px 10px 20px 10px;
    margin:0;
    float:left;
}

#footerBar {
    background:#fff;
    width:100%;
    text-align:center;
    min-height:50px;
}

#footerBarContainer {
    display:none;
}

#footer {
    background:#fff;
    width:100%;
    text-align:center;
}

#footerLists {
    display:none;
}


#footAddress {
    clear:both;
    color:#00;
    background:#fff;
    width:100%;
    text-align:center;
    line-height:50px;
    border:1px solid #000;
    border-left:0;
    border-right:0;
}
 
	

/*============== General ======================== */	
img {border:0;}
p {padding:1em 0 1em 0; margin:0;}
p.padded {padding:1em 20px 1em 20px;}
.txtCenter {text-align:center;}
.txtSmall {font-size:.9em;}

/* =============== Headings  ======================   */

h1 {
font-weight:900;
font-size:1.5em;
}



h2 {
font-weight:900;
font-size:1.3em;
text-align:right;
border-bottom:1px solid #2b357d;
padding:1em 0 3px 0;
color:#2b357d;
font-style:oblique;
margin:0;
}

h3 {
font-weight:900;
font-size:1.0em;
text-align:right;
border-bottom:1px solid #2b357d;
padding:1em 0 3px 0;
color:#2b357d;
font-style:oblique;
margin:0;
}

h4 {
font-weight:900;
font-size:1em;
color:#2b357d;
padding:0;
margin:0;
}

h5 {
font-weight:900;
font-size:1.1em;
}


/*  ======== LISTS =============== */

	
ul.square {
margin:20px 0 0 0;
border:0;
padding:0;
list-style-image:url(/img/li_bullet.gif);
}


ul.square li {
padding-bottom:.8em;
margin-left:40px;
}

.li_acrobat {
list-style-image:url(/img/icon_acrobat_small.gif);
position:relative;
left:50px;
}

.li_excel {
list-style-image:url(/img/icon_excel.gif);
position:relative;
left:50px;
}

.li_powerpoint {
list-style-image:url(/img/icon_powerpoint.gif);
position:relative;
left:50px;
}

.li_word {
list-style-image:url(/img/icon_word.gif);
position:relative;
left:50px;
}

.li_zip {
list-style-image:url(/img/icon_zip.gif);
position:relative;
left:50px;
}

.li_quicktime {
list-style-image:url(/img/icon_quicktime.gif);
position:relative;
left:50px;
}

.li_wmv {
list-style-image:url(/img/icon_wmv.gif);
position:relative;
left:50px;
}

ul.triangle {
list-style-image:url(/img/li-arrow.png);

}

ul.triangle li {

padding:10px 0;
}

/* ==============LINKS  ================*/

a, a:link, a:visited, a:hover, a:active {
color:#2b357d;
font-weight:900;
background:transparent;
text-decoration:underline;
display:inline;
}

a:hover { color:#71706f; }


.search-field {padding-left:4px;}


/* ===========  Airlines  =====================*/
.logos {
	float:left; margin:0px 0; padding-right:20px; margin-right:20px; border-right:1px solid #ccc; 
}

.white {background:#fff;}
.small {font-size:.7em; line-height:1.2em;}



.center {text-align:center;}

.item, .whitebox {
    padding:30px 10px;
    margin:10px;
    background:#fff;
    -moz-border-radius: 20px;
    border-radius: 20px;
    min-height:90px;
}

.onsiteDiv, .phoneBoardDiv{
    background:#f8ea05
    }
    
.onsite {
    background: url(/img/on-site-stamp.png) 100% 50% no-repeat; 
}
    
.phoneBoard {
    background: url(/img/phone.png) 100% 50% no-repeat; 
}

.dashedBottom {border-bottom: 1px dashed #004990; }

ul.space li {padding:1em 0;}

/* ===========  QA  =====================*/

.question {
    background: url(/img/q.png) no-repeat top left; 
    margin:40px 0 0 0;
    padding: 10px 0 0 50px;
    min-height:50px;
    font-weight:900;
}

.answer {
    background: url(/img/a.png) no-repeat top left;
    margin-left:30px; 
    padding:10px 0 0 50px;
    min-height:50px;
}